* {
    font-family: "Noto Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
    color: #3A3F42;
    position: relative;
}

body {
    background: #F9F8F6;
}

header {
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 1;
    width: calc(100% - 200px);
}

.fadeUp {
  opacity: 0;
  transform: translateY(20px);
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1);
}

.fadeUp.is-active {
  opacity: 1;
  transform: translateY(0);
}

.pc-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sp-header {
    display: none;
}

header a.logo {
    font-family: "Lora", serif;
    font-size: 36px;
    color: #94A3AD;
    transition: all 0.3s;
}

header a:hover.logo {
    opacity: 0.8;
}

.pc-header ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
}

header ol a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s;
}

header ol a:hover {
    color: #94A3AD;
}

header ol a.target {
    color: #94A3AD;
}

a {
    text-decoration: none;
    background: none;
}

.mv {
    padding: 320px 210px;
}

h1 {
    font-family: "Lora", serif;
    font-size: 128px;
    color: #94A3AD;
    letter-spacing: 0.1em;
}

.flex_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about {
    width: 1400px;
    margin: 100px auto 0 auto;
}

@media screen and (max-width:1400px) {
    .about {
        width: 100%;
        padding: 0 30px;
        margin: 100px 0 0 0;
    }
}

.about_item {
    width: calc(50% - 98px);
    margin: 0 0 240px 0;
}

.about p {
    font-size: 32px;
    line-height: 2.5;
    margin: 0 0 64px 0;

}

.about img {
    width: 100%;
    border-radius: 6px;
}

.about .flex_group {
    align-items: center;
    column-gap: 196px;
}

.about .flex_group:nth-child(2) {
    flex-direction: row-reverse;
}

.category h2 {
    font-size: 32px;
    margin: 0 0 8px 0;
    font-weight: 700;
}

.category .flex_group {
    justify-content: flex-start;
    gap: 48px;
}

.category button {
    font-size: 20px;
    padding: 20px 40px;
    background: #F9F8F6;
    border-radius: 6px;
    border: #3A3F42 1px solid;
}

.category button.active {
    background: #3A3F42;
    color: #F9F8F6;
}

.category {
    width: 1400px;
    margin: 100px auto 48px auto;
}

.products {
    width: 1400px;
    margin: 0 auto;
}

@media screen and (max-width:1400px) {

    .category,
    .products {
        width: 100%;
        padding: 0 30px;
        margin: 100px 0 0 0;
    }
}

.products .flex_group {
    justify-content: flex-start;
    column-gap: 250px;
    row-gap: 64px;
}

.cat_item {
    width: 300px;
    text-align: center;
}

.cat_item a {
    transition: all 0.3s;
}

.cat_item a:hover {
    opacity: 0.8;
}

.cat_item figure {
    position: relative;
    margin: 0 0 24px 0;
}

.cat_item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.cat_item button.fav {
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: transform 0.2s;
}

.cat_item button.fav img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cat_item p.name {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 16px 0;
    text-align: left;
}

.cat_item p.price {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 16px 0;
    text-align: left;
}

.cat_item button.cart {
    font-size: 16px;
    padding: 20px 40px;
    background: #F9F8F6;
    border: #3A3F42 1px solid;
    border-radius: 6px;
}

.cart_section {
    padding: 150px 0;
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1400px) {
    .cart_section {
        width: 100%;
        padding: 120px 30px 0 30px;
    }
}

ul#cartList {
    list-style: none;
    border-bottom: #3A3F42 1px solid;
    margin: 0 0 24px 0;
}

ul#cartList li {
    padding: 8px 0;
    margin: 0 0 16px 0;
    font-size: 18px;
}

.crease_box {
    border: #3A3F42 1px solid;
    padding: 8px 16px;
    margin-right: 16px;
    border-radius: 6px;
}

.placename {
    display: inline-block;
    width: 20%;
}

.crease_box .decrease {
    border: none;
    background: none;
    margin-right: 16px;
}

.crease_box .increase {
    border: none;
    background: none;
    margin-left: 16px;
}

#cartList .remove,
button#clearCart {
    border: #3A3F42 1px solid;
    background: #F9F8F6;
    padding: 8px 16px;
    border-radius: 6px;
}

p.total {
    font-size: 24px;
}

.journal {
    width: 1400px;
    margin: 100px auto;
}

@media screen and (max-width: 1400px) {
    .journal {
        width: 100%;
        padding: 0 30px;
    }
}

@media screen and (max-width: 1400px) {
    .journal {
        width: 100%;
        padding: 0 30px;
    }
}

div.journal_list {
    border-top: #3A3F42 1px solid;
    margin: 0 0 64px 0;
}

div.journal_list a.journal_item {
    display: block;
    position: relative;
    font-size: 24px;
    padding: 48px 32px;
    width: 100%;
    transition: all 0.3s;
    border-bottom: #3A3F42 solid 1px;
    transition: all 0.3s;
}

div.journal_list a::before {
    content: "";
    position: absolute;
    top: calc(50% - 0.5px);
    right: 32px;
    width: 30px;
    height: 1px;
    border-radius: 9999px;
    background-color: #3A3F42;
    transform: rotate(30deg);
    transform-origin: calc(100% - 0.5px) 50%;
    transition: all 0.3s;
}

div.journal_list a::after {
    content: "";
    position: absolute;
    top: calc(50% - 0.5px);
    right: 32px;
    width: 100px;
    height: 1px;
    border-radius: 9999px;
    background-color: #3A3F42;
    transition: all 0.3s;
}

div.journal_list a:hover {
    background: rgba(148, 163, 173, 0.1);
}

div.journal_list a:hover::before,
div.journal_list a:hover::after {
    right: 27px;
}

.login,
.entry {
    width: 1200px;
    padding: 200px 0 0 0;
    margin: 0 auto;
}

.entry h2 {
    font-weight: 700;
    margin: 0 0 24px 0;
}

.login p,
.entry p {
    margin: 0 0 24px 0;
}

.login div.button a,
.entry div.button a {
    display: block;
    width: 240px;
    padding: 20px 40px;
    text-align: center;
    border: #3A3F42 1px solid;
    border-radius: 6px;
    transition: all 0.3s;
}

.login div.button a:hover,
.entry div.button a:hover {
    opacity: 0.8;
}

table.form_table {
    width: 100%;
    margin: 0 0 48px 0;
}

table.form_table th {
    font-weight: 700;
    text-align: left;
    width: 20%;
    padding: 24px;
}

table.form_table input,
p.button input {
    padding: 8px;
    font-size: 16px;
    border: #3A3F42 1px solid;
    border-radius: 6px;
}

.width40 {
    width: 40%;
}

.width80 {
    width: 80%;
}

p.button {
    text-align: center;
}

.ml-8 {
    margin-left: 8px;
}

footer {
    padding: 60px 0;
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    footer {
        padding: 60px 30px;
        width: 100%;
    }

    .login {
        padding: 120px 30px 0 30px;
        width: 100%;
    }

    .entry {
        width: 100%;
        padding: 0 30px;
    }
}

footer .flex_group {
    align-items: center;
}

.footer_logo .title {
    font-family: "Lora", serif;
    font-size: 128px;
    letter-spacing: 0.2em;
    color: #94A3AD;
    text-align: center;
    margin: 0 0 56px 0;
}

.footer_logo .sub_title {
    color: #94A3AD;
    letter-spacing: 0.1em;
    font-size: 40px;
    text-align: center;
}

.footer_nav {
    width: 630px;
}


@media screen and (max-width:630px) {
    .footer_nav {
        width: 100%;
    }
}

.footer_nav ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 32px 0 93px 0;
}

.footer_nav ol li a {
    font-size: 24px;
    transition: all 0.3s;
}

.footer_nav ol li a:hover {
    color: #94A3AD;
}

.mali p {
    margin: 0 0 8px 0;
}

.mali p label {
    font-size: 24px;
}

.mali input {
    width: calc(100% - 100px);
    border-radius: 6px;
    border: #3A3F42 1px solid;
    font-size: 16px;
    background: #F9F8F6;
    padding: 8px 16px;
}

.mali button {
    font-size: 16px;
    padding: 8px 16px;
    background: #F9F8F6;
    border-radius: 6px;
}

p.copyright {
    margin: 60px 0 0 0;
    font-size: 24px;
    text-align: center;
    color: #94A3AD;
}

@media screen and (max-width: 1024px) {
    header {
        left: 20px;
        width: calc(100% - 40px);
    }

    .pc-header {
        display: none;
    }

    .sp-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hamburger-overlay {
        position: relative;
        z-index: 1000;
        width: 48px;
        height: 48px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .hamburger-overlay span {
        position: absolute;
        left: 11px;
        width: 26px;
        height: 2px;
        background-color: #3A3F42;
        transition: all .6s;
    }

    .hamburger-overlay span:nth-of-type(1) {
        top: 14px;
    }

    .hamburger-overlay span:nth-of-type(2) {
        top: 23px;
    }

    .hamburger-overlay span:nth-of-type(3) {
        top: 32px;
    }

    .hamburger-overlay.active span {
        background-color: #3A3F42;
    }

    .hamburger-overlay.active span:nth-of-type(1) {
        transform: translateY(9px) rotate(-45deg);
    }

    .hamburger-overlay.active span:nth-of-type(2) {
        opacity: 0;
    }

    .hamburger-overlay.active span:nth-of-type(3) {
        transform: translateY(-9px) rotate(45deg);
    }

    .nav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(249, 248, 246, 0.95);
        visibility: hidden;
        opacity: 0;
        transition: all .6s;
        z-index: 900;
    }

    .nav-overlay.active {
        visibility: visible;
        opacity: 1;
    }

    .nav-overlay__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }

    .nav-overlay__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav-overlay__item {
        opacity: 0;
        transform: translateY(20px);
        transition: all .6s;
        margin: 0 0 16px 0;
    }

    .nav-overlay.active .nav-overlay__item {
        opacity: 1;
        transform: translateY(0);
    }

    .nav-overlay.active .nav-overlay__item:nth-child(1) {
        transition-delay: 0.1s;
    }

    .nav-overlay.active .nav-overlay__item:nth-child(2) {
        transition-delay: 0.2s;
    }

    .nav-overlay.active .nav-overlay__item:nth-child(3) {
        transition-delay: 0.3s;
    }

    .nav-overlay.active .nav-overlay__item:nth-child(4) {
        transition-delay: 0.4s;
    }

    .nav-overlay.active .nav-overlay__item:nth-child(5) {
        transition-delay: 0.5s;
    }

    .nav-overlay__link {
        display: inline-block;
        padding: 20px;
        color: #3A3F42;
        font-size: 24px;
        text-decoration: none;
        transition: color .3s;
    }
}

@media screen and (max-width: 767px) {

    h1.title,
    .footer_logo .title {
        font-size: 100px;
    }

    .mv .sub_title,
    .footer_logo .sub_title {
        font-size: 32px;
    }

    .mv {
        padding: 320px 0 320px 30px;
    }

    h1 {
        font-size: 64px;
    }

    .about_item {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .about p {
        font-size: 20px;

    }

    .category button {
        font-size: 16px;
        margin: 0 24px 24px 0;
    }

    .cat_item {
        width: 100%;
        margin: 0 0 64px 0;
    }

    .cat_item img {
        height: auto;
        aspect-ratio: 1;
    }

    div.journal_list a.journal_item {
        font-size: 16px;
        padding: 48px 118px 48px 32px;
    }

    div.journal_list a::after {
        width: 70px;
    }

    .placename {
        width: 50%;
    }

    p.total {
        text-align: right;
    }

    table.form_table th {
        display: block;
        width: 100%;
        padding: 24px 0;
    }

    table.form_table td {
        display: block;
        width: 100%;
    }

    .width40,
    .width80 {
        width: 100%;
    }

    .flex_group {
        display: block;
    }

    .mali button {
        margin-left: 32px;
    }

    .footer_nav ol {
        display: block;
        margin: 32px 0;
    }

    .footer_nav ol li {
        margin: 0 0 16px 0;
    }

}